// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";



//use font as standard
$v-font-family: "Roboto", sans-serif;

@mixin mvnplance {
  @include valo;

$v-panel-background-color: rgba(63,63,63,0.5);
$v-background-color: $v-panel-background-color;
$v-app-background-color: $v-background-color;
$v-border: 0px none;
$v-overlay-background-color: $v-panel-background-color;
$v-app-background-color: $v-app-background-color;
$v-window-background: $v-app-background-color;


  .v-panel > div {
   background: transparent;
}

  .v-panel {
   background: transparent;
}

.v-window {
  border-style:none;
  padding: 4px 4px;
  border-radius: 0px;
  background-color: $v-panel-background-color;
  color: #474747;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 16px 80px -6px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.09098);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 16px 80px -6px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.09098);
  padding: 0;
  min-width: 148px !important;
  min-height: 37px !important;
  white-space: nowrap;
  overflow: hidden !important;
  -webkit-transition: width 200ms, height 200ms, top 200ms, left 200ms;
  -moz-transition: width 200ms, height 200ms, top 200ms, left 200ms;
  transition: width 200ms, height 200ms, top 200ms, left 200ms;
}



  // Insert your own theme rules here
  
	.picture-icon-background {
		border-color : gray;
	  	border-radius: 50%;
		width: 200px;
		height: 200px; 
		background-color: gray;
		
		/* width and height can be anything, as long as they're equal */
	}

	$inviteColor : #Ed7668;
	$upcomingColor : #6890ED;
	
	.title-invitation{
		font-size: 24pt;
		color: #008bbd;
	}
	
	
	.background-invitation{
		background-color: #008bbd;
		height: 40%;
	}
	
  
  	.title-upcoming{
		font-size: 24pt;
		color: #00a89b;
	}
	
	.background-upcoming{
		background-color: #00a89b;
		height: 40%;
	}
	
	.loginWindow{
		background-color: #3f3f3f;
		color: #ffffff;
	}
}
